.cartIconWrapper {
  position: relative;
  display: inline-block;
}

.cartCount {
  position: absolute;
  top: -11px;
  right: -11px;
  background-color: #1D1F22;
  color: white;
  border-radius: 50%;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  line-height: 16.41px;
  text-align: center;
  width: 20px;
  height: 20px;
  border-radius: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}